#main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* titre de la page dashboard */
#main h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'arial';
    font-size: 2em;
}

/* où vont être les kpi */
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section .kpi-div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    flex-basis: 40vw;
    flex-grow: 1;
    flex-shrink: 0; /*il garde sa taille lors du wrapping*/
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 20vh;
}

/* global */
/* police nationale (la blague de l'année pour celui qui lis ça pitié j'en ai marre je suis pas dev front react j'ai pas touché depuis 12 mois voilà coup de gueule j'ai envie de dormir il est bientôt 23h #ripbozo)*/
.font-size-3{
    font-size: 1.2em;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer le contenu horizontalement */
    justify-content: center; /* Centrer verticalement */
}